.with-navbar{
	margin-top:65px;
}
.textbook-img{
	height:180px;
	width:100%;
	overflow:hidden;
    display: flex;
    align-items: center;
	
}
.textbook-info-container{
	height:200px;
}
.single-info-container{
	height:400px;
}
input[type=submit]{ 
    color:#000;
	margin-bottom:10px;
}
.hide{
	height:0px;
	width:0px;
}
.unhide{
	
}

