.with-navbar{
	margin-top:65px;
}
.textbook-img{
	height:180px;
	width:100%;
	overflow:hidden;
    display: flex;
    align-items: center;
}
.textbook-info-container{
	height:200px;
}
.single-info-container{
	height:400px;
}
input[type=submit]{ 
    color:#000;
	margin-bottom:10px;
}
.hide{
	height:0px;
	width:0px;
}
.unhide{}
.browse-container{
	height:300px;
	width:200px;
	overflow:hidden;
    text-align:center;
    background-color:white;
    border-radius:10px; 
    margin-right:10px; 
    padding-top:10px; 
    padding-bottom:10px;
    margin-bottom:10px;
}
.account-container{
	height:200px;
	width:100%;
	background-color:#ebebe0;
	text-align:center;
	border-radius:10px;
	margin-right:5px;
	margin-left:5px;
	padding-top:10px; 
    padding-bottom:10px;
    margin-bottom:10px;
    margin-top:10px;
}
.account-container:hover{
	background-color:#fff;
}
.home-container{
	height:200px;
	width:100%;
	background-color:#ebebe0;
	text-align:center;
	border-radius:10px;
	margin-right:5px;
	margin-left:5px;
	padding-top:10px; 
    padding-bottom:10px;
    margin-bottom:10px;
    margin-top:10px;
}
.home-container:hover{
	background-color:#8AC9B0;
}


